{% extends 'hda_public/base.html' %}

{# This lets us a use a custom tempate tag to encode URL query strings #}
{% load urlparams %}

{% block title %} CPH Indicator Visualization Tool {% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Find a Location</h1>
    <p>
        This site provides visualization and ranking of national public health indicators for counties in the United States.
        Find your county and select an indicator to see how it compares to other counties in the nation!
    </p>
    <p>
        <a class="btn btn-primary btn-lg"
            href="{% url 'state_list' %}{% urlparams choice='county' %}"
            role="button"
            name="selected"
            value="county">Find a county</a>
        <a class="btn btn-primary btn-lg"
            href="{% url 'state_list' %}{% urlparams choice='state' %}"
            role="button"
            name="selected"
            value="state">Find a state</a>
    </p>
</div>

{% endblock %}

