{% extends 'hda_privileged/base.html' %}

{% block content %}

{% comment %}Allows user to delete an indicator. Indicators are protected and cannot be deleted if tied to data records. 
Returns an error message for user if protected. Developed by Kim Hawkins{% endcomment %}

{% comment %} Wrap the form in a panel for appearance {% endcomment %}
<div class='panel panel-primary'>

  <div class="panel-heading" style="background-color:#69899f;color: #d7e2e9;">
    <h3 class="panel-title">User Management</h3>
  </div>

  <div class="panel-body">
    <h4 style="color:#69899f;">Reset Password for {{ usr.get_full_name }} ({{ usr.username }})</h4>
        
      <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Save Changes</button>
      </form>
  </div>
{% endblock %}