{% extends 'hda_privileged/base.html' %}

{% block title %}Upload Health Data{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h2>Upload your Metric data here</h2>

        {% comment %}
      Show any messages added to the context
      by using Bootstrap alert components
      {% endcomment %}
        <div class='form-group'>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if 'error' not in message.tags %}
                            <div
                                    class="alert alert-{{ message.level_tag }}"
                                    role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="messages">
                    <div class="label-warning">The following counties/states combinations are invalid:</div>

                        <table class="table table-responsive table-hover table-bordered">
                            {% for county,state in invalid_counties_and_states.items  %}

                                    <tr>
                                    <td> {{ county}}</td><td>{{ state }}</td></tr>

                            {% endfor %}
                        </table>

                </ul>
            {% endif %}
        </div>


        <form
                class="form-horizontal"
                method="POST"
                enctype="multipart/form-data"
                action="{% url 'priv:uploadData' %}">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                {% comment %}
          An unordered list of validation messages
          {% endcomment %}
                {{ field.errors }}

                <div {% if field.errors %} class="form-group has-error" {% else %} class="form-group" {% endif %}>

                    {% comment %} Label associated to the input w/ id_for_label {% endcomment %}
                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {% comment %} The actual field/input element {% endcomment %}
                    <div class="col-sm-10">
                        {% if field == form.column_format %}
                            {% for radio in field %}
                                <div class="radio">
                                    {{ radio }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ field }}
                        {% endif %}

                        {% comment %}
            Not using aria-describedby (but should be!) to link the field to its help text - 
            not sure how to inject that attribute into the django field output above
            {% endcomment %}
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text | safe }}</span>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}

        <button type="submit" class="btn btn-primary" onclick="TimeoutNow();" >Upload</button>
        <input class='btn btn-primary' onclick="window.history.back()" type="button" value='Cancel'/>
          <form>
              <!-- <input type="button" value="Upload" class="btn-primary" onclick="TimeoutNow();" /> -->

            </form>


        </form>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
